body {
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid black;
  width: 900px;
  height: 350px;
  padding: 50px;
}
  
.container {
  margin: 0;
  padding: 0;
  height: 350px;
  background-color: rgb(255, 214, 42);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
      
.item {  
  position: relative;
  background-color: rgb(176, 42, 255);
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

li {
  list-style: none;  
}
