* {
  margin: 0;
  padding: 0;  
}

body {
  background-color: rgb(201, 201, 201);  
  font-family: 'Montserrat', sans-serif;
  color: rgb(119, 119, 119);  
}

.newsletter-form {
  background-color: white;
  margin: 65px auto;  
  width: 360px;
  padding: 65px 85px 75px 85px;
  border-radius: 5px;
}

.section {
  margin: 30px 0;  
}

.fieldname {
  padding-right: 15px;  
}

.inputfield {
  width: 100%; 
  padding: 5px 0; 
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 14px;
  margin: 0 auto;  
  border: none;
  outline: none;
  border-radius: 7px;
}

p {
  margin-top: 30px;
  font-weight: 600;  
  text-align: center;
}
