* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(218, 224, 230);
  font-family: 'Lato', sans-serif;
}

header, .selector {
  background-color: white;  
}

.feed {
  position: relative;  
  width: 100%;
  height: auto; 
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.inputs {
  margin: 0 auto;
  background-color: white;
  color: rgb(34, 34, 34);
  width: 100%;
}

.menu {
  margin: 0 auto;
  background-color: white;
  color: rgb(34, 34, 34);
  width: 200px;
  height: 28px;
}

.titleInput {
  width: 100%; 
  height: 20px; 
  padding: 5px 0;
  scroll-behavior: auto;
}

.descrInput {
  width: 100%;
  height: 90px;
  padding: 5px 0;
}

img.logopic {
  height: 30px;
  width: auto;  
}

img.profsecpic {
  height: 40px;
  width: auto;  
}

h1 {
  color: rgb(100, 100, 100);  
  font-size: 14px;
  margin: 10px 0 7px 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;  
}

.topmenu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;   
  border-bottom: 1px solid rgb(218, 224, 230); 
}

.logo {
  position: relative;
  flex: 2;
  padding: 0 10px;
}

.sorting {
  position: relative;
  flex: 3;
}

.search {
  position: relative;
  flex: 5;
}

.searcher {
  width: 400px;  
  height: 24px;
}

.profilesec {
  position: relative;
  flex: 6;
}

.selector {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px; 
  font-size: 12px;
  color: rgb(133, 133, 133);  
}

.sorters {
  position: relative;
  width: 200px;
  font-size: 8px;
  font-weight: 700;
}

.main {  
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  margin: 0 0 0 20px;
  width: 100%;
}

.mainCont {
  position: relative;
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px 0 0;
}

.fields {
  position: relative;
  width: 100%;  
}

.sendButt {
  width: 100%; 
  margin: 0 0 20px 0; 
  background-color: rgb(0, 121, 210);
  color: white;
  border-style: none;
  font-weight: 700;
  padding: 9px 0;
}

.sendButt:hover {
  background-color: rgb(33, 153, 240);
}

.sendButt:active {
  background-color: rgb(61, 170, 248);
  color: rgb(2, 61, 104);  
}

.sidebar {
  position: relative;
  flex: 3;
  margin-left: 10px;
  color: rgb(100, 100, 100);
}

.sidehead {
  background-color: white; 
  padding: 15px; 
  font-size: 14px;
  font-weight: 700;
}

.createpost {
  background-color: rgb(74, 163, 223);
  border-radius: 2px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: white;
  outline: none;
  border-style: none;
  margin-right: 20px;
  padding: 10px 0;
}

.createpost:hover {
  background-color: rgb(102, 188, 245);
}

.list ul {
  margin-left: 20px;  
}

.list {
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 15px;
  font-size: 12px;
}

.post {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  border: 1px solid rgb(179, 179, 179);
  border-bottom: 0;
}

.postCont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;  
}

.post:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(33, 153, 240);
}

.voter {
  padding: 10px 0 10px 10px;
  width: 27px;
  background-color: rgb(248, 248, 248);
}

.voter p {
  padding-left: 3px;  
}

.title {
  padding: 5px 0 0 0;   
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.title:hover {
  color: rgb(33, 153, 240);
}

.url {
  font-size: 12px;
}

.changer {
  position: relative;
  font-size: 10px;
  color: rgb(100, 100, 100);  
  padding-top: 5px;
}

a {
  color: rgb(68, 68, 192);  
  text-decoration: none;
}

a:hover {
  color: tomato;   
}

a:active {
  color: yellow;  
}

.headerpicCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  background: url("/static/headerpic.svg");
  background-color: rgb(186, 211, 186);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.headerpicCont img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin: 0 0 0 20px;
}

.headerpicCont span {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin: auto 10px;
}

.headerpicCont .postheader {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 11px 10px;
}

.headerpicCont .postheader span {
  color: black;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 3px solid black;
  padding-bottom: 9px;
}

.remover {
  margin-left: 30px;  
}