* {
  margin: 0;
  padding: 0;  
}

.container {
  width: 100%; 
  height: 450px; 
  background-color: black;  
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 10px;
}

.green {
  grid-column: 2 / 4;
  grid-row: 1 / 3; 
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);  
  background-color: green;
  display: grid;
}

.yellow {
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  background-color: yellow;   
}

.purple {
  background-color: purple;  
}
